@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #f5f5f4;
  --secondary-background-color: #e7e5e4;
  --heading-color: #0f172a;
  --paragraph-color: #334155;
  --error-background: #fecaca;
  --error-text: #991b1b;
}

body {
  background-color: var(--background-color);
  color: var(--paragraph-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
}

.card {
  background-color: var(--secondary-background-color);
}

.errorCard {
  background-color: var(--error-background);
	color: var(--error-text);
}